<nav class="calendar__navigation primary">
<% prev_month = { year: schedule.month_date.prev_month.year,
                  month: schedule.month_date.prev_month.month }
   next_month = { year: schedule.month_date.next_month.year,
                  month: schedule.month_date.next_month.month } %>

<%= link_to '←', current_page?(action: :common) ? common_events_path(prev_month) : events_path(prev_month) -%>
<%= link_to t('calendar.today'), current_page?(action: :common) ? common_events_path : events_path -%>
<%= link_to '→', current_page?(action: :common) ? common_events_path(next_month) : events_path(next_month) %>
</nav>