<article class="calendar">
  <header>
    <%= month.strftime('%B %Y') %>
    <nav>
      Prev / Next
    </nav>
  </header>
  <div class="calendar__grid">
    <div class="days_of_week">
      <% day_names.each do |day| %>
        <div class="day"><%= day %></div>
      <% end %>
    </div>
    <div class="weeks">
      <% range.to_a.in_groups_of(7).each do |week| %>
        <div class="week">
          <% week.each do |date| %>
            <%= content_tag :div, class: calendar_date_classes(date, month) do %>
              <%= date.strftime('%d') %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</article>
