@import 'globals';

.calendar {
  width: 100%;
  margin: 0 0 2em;
  font-size: 81.25%;
  line-height: 1.2;

  header {
    padding: 0 0 1em;
    position: relative;

    h2 {
      text-align: center;
      padding: 0;
    }
  }
}

.calendar nav {
  a {
    color: $bodyColor;
    text-decoration: none;

    &:hover {color: $linkHover}
    &:active {background: $calendarBorder}
  }
}

nav.calendar__new_event {
  position: absolute;
  top: 2px; left: 0;
  font-size: 123%;
  line-height: 1.5;

  a {color: $linkColor}
}

nav.calendar__navigation {
  position: absolute;
  top: 0; right: 0;
  padding: 2px 0;
  text-align: right;
  border: 1px solid $calendarBorder;
  border-radius: 4px;

  a {
    display: inline-block;
    margin: 0;
    padding: 4px 9px 3px;
    border-right: 1px solid $calendarBorder;

    &:last-child {border-right: none}
  }
}

nav.calendar__range__picker {
  overflow: hidden;
  position: absolute;
  top: 24px; left: 50%;
  margin: 0 0 0 -260px;
  min-width: 520px;
  width: auto;
  display: none;

  dt {
    float: left;
    padding: 2px 5px 0;
    margin: 0 1em
  }

  dd {padding: 0}

  ul {
    list-style: none outside;
    overflow: hidden;
    padding: 0;
    text-align: center;
  }

  ul li {display: inline-block}

  a {
    display: inline-block;
    padding: 2px 4px 1px;
    border-radius: 4px;

    &.current {background: $calendarBorder}
  }
}

.calendar__range {
  cursor: pointer;

  &:hover {color: $linkHover}
}


.calendar__grid {
  width: 100%;
  border-collapse: collapse;

  th {
    padding: 2px 0 4px;
    font-size: 85%;
    font-weight: normal;
    border-bottom: 1px solid $calendarBorder;
  }

  td {
    position: relative;
    width: 14.286%;
    height: 100px;
    padding: 0;
    border-bottom: 1px solid $calendarBorder;
    border-right: 1px solid $calendarBorder;
    vertical-align: top;

    .day {
      padding: 6px 8px 0 0;
      text-align: right;
      font-size: 85%;
      color: $colorless;
    }

    &.today {background: $highlightColor}
  }

  tr td:last-child {border-right: none}
  tr:last-child td {border-bottom: none}

  .other_month .day {color: $calendarBorder}

  .events {
    padding: 0 8px 8px 0;
    color: $colorless;

    li span {
      cursor: pointer;
      color: $bodyColor;
    }
    .cloned span {
      padding-left: 14px;
      background: image-url("repeat.gif") left center no-repeat;
      color: $colorless
    }
  }
}