@import "globals";

.calendar header {
  padding: 0 0 1em;
  position: relative;

  h2 {padding: 0}
}

.calendar nav {
  a {
    color: $bodyColor;
    text-decoration: none;

    &:hover {color: $linkHover}
    &:active {background: $calendarBorder}
  }
}

nav.calendar__navigation {
  position: absolute;
  top: 0; right: 0;
  padding: 2px 0;
  text-align: right;
  border: 1px solid $calendarBorder;
  border-radius: 4px;

  a {
    display: inline-block;
    margin: 0;
    padding: 4px 9px 3px;
    border-right: 1px solid $calendarBorder;

    &:last-child {border-right: none}
  }
}

