/* variables */
$bodyColor: #212121;
$colorless: #777;

$linkColor: #0000a0;
$linkVisited: #500070;
$linkHover: #a00000;

$calendarBorder: #dcdcdc;
$highlightColor: #fefff4;

$lineFieldColor: #51cbee;

$flashColor: #c09853;
$flashBgColor: #fcf8e3;
$flashBorder: #fbeed5;

$flashNoticeColor: #468847;
$flashNoticeBgColor: #DFF0D8;
$flashNoticeBorder: #D6E9C6;