@import 'globals';

#header {
  nav.primary {
    position: absolute;
    top: 0; right: 32px;
    background: #fff;

    ul {margin: 0; list-style: none outside}
    li {display: inline}

    a {
      display: inline-block;
      padding: 4px 6px 3px;
      margin: 0 2px;
    }
  }

  h1 {
    padding: 20px 0 0 32px;
    margin: 0;

    a {
      display: inline-block;
      padding-left: 40px;
      background: image-url('calendar.png') left center no-repeat;
      text-decoration: none;

      &:visited {color: $linkColor}
      &:hover {color: $linkHover}
    }
  }
}

#page {
  margin: 1em 32px 2em;
  min-width: 888px;
  background: #fff;

  > header {padding: 0 2em}
  .contents {padding: 1em 2em 2em}
}

.g_slim #page {
  min-width: 0;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
}