@import 'globals';

html, body, h1, h2, h3, h4, ul, li, ol, dl, dt, dd, p, form, fieldset, label, img, table {
  padding: 0; margin: 0; font-size: 100%; font-weight: normal; border: 0
}

body {
  color: $bodyColor;
  background: #f0f0f0 image-url("bg_pattern.png") repeat;
  font: normal normal 100%/1.4 Helvetica Neue, Helvetica, Arial, sans-serif
}

article, header, footer, aside, nav {display: block; zoom: 1}

/* links */
a {color: $linkColor}
a:visited {color: $linkVisited}
a:hover {color: $linkHover}

h1 {font-size: 2em; padding: 1.5em 0}
h2 {font-size: 1.5em; padding: 1.75em 0}
h3 {font-size: 1.16em; padding: 1.82em 0}
h4 {font-weight: bold}

p {margin: 0 0 1.5em}

/* lists */
ul, ol {list-style: square outside; margin-left: 1.5em}
dt {font-weight: bold}
dd {padding-left: 2em}

/* common useful styles */
.hidden, .hide {display: none}
.visible {display: block!important}
.wrap {overflow: hidden}
.left {float: left}
.right {float: right}
.a-center {text-align: center}
.a-left {text-align: left}
.a-right {text-align: right}
